@import '~bootstrap/scss/bootstrap';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;

}
.grid {
  background-color: #000;
}
.grid > div:nth-child(odd) {
  background-color: #fff;
}

.grid > input {
  padding:10px;
  font-size: 18px;
  border:10px;
}

//
