@import '~bootstrap/scss/bootstrap';

header {
  text-align: right;
}
* {
  font-family: 'Poiret One', cursive;
  box-shadow: none;
}

#note {
  font-size: 1.5em;
}

#note, h1{
  text-align: center;
}
.blackWithWhite {
  border-style: groove;
  border-width: 2px;
  border-color: #181818;
  background-color: #181818;
  color: #ffffff;
}

input {
  box-shadow: none;
}
p span {
  background-color: #b5b7bb;
}


.whiteWithBlack {
  border-style: groove;
  border-width: 2px;
  border-color: #a33535;
  background-color: #ffffff;
  color: #181818;
}

input[type="submit"] {
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #181818;
}

.odd {
  color: #a5a5a5;
}
.even {
  color: #444444;
}

p {
  margin: 20px 60px 0 60px;
  font-size: 1em;
}

#new-game {
  text-align: center;
  box-shadow: none;
}

h1 {
  font-size: 8em;
  font-weight: strong;
  margin-bottom: 0;
}

header {

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  background-color: #000;
  color: #fff;
  display: none;
  vertical-align: middle;
}

.grid div{
  font-family: arial;
  font-size: 12rem;
  text-align: auto;
}
.grid > div:nth-child(odd) {
  background-color: #fff;
  color: #000;
}

// .grid > input {
//   padding:10px;
//   font-size: 18px;
//   border:10px;
// }

// .grid > input {
//   padding:10px;
//   font-size: 18px;
//   border:10px;
// }

//
